{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-ivory text-gold">
                    <h2>Account Details</h2>
                </div>
                <div class="card-body bg-cream">
                    <div class="row mb-3">
                        <div class="col">
                            <p class="lead"><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div class="col">
                            <p class="lead"><strong>Email:</strong> {{ user.email }}</p>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <a href="{{ url_for('views.order_history') }}" class="btn btn-goldrod btn-darkgoldrod btn-lg">View Order History</a>
                    </div>
                    {% if user.is_admin %}
                    <div class="d-grid gap-2 mb-3">
                        <a href="/admin" class="btn btn-goldrod btn-darkgoldrod btn-lg"><i class="bi bi-person"></i> Admin Dashboard</a>
                    </div>
                    {% endif %}
                    {% if has_custom_wedding_request %}
                    <div class="d-grid gap-2 mb-3">
                        <a href="{{ url_for('views.custom_wedding') }}" class="btn btn-darkgoldrod btn-goldrod btn-lg">Custom Weddings</a>
                    </div>
                    {% endif %}
                    <div class="d-grid gap-2">
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger btn-lg">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .bg-ivory {
        background-color: #f9f6f2;
    }
    .bg-cream {
        background-color: #fffaf0;
    }
    .btn-goldrod {
        background-color: goldenrod;
    }
    .btn-darkgoldrod:hover {
        background-color: darkgoldenrod;
        color: white;
    }
    .btn-gold {
        background-color: #d4af37;
        color: white;
    }
    .btn-gold:hover {
        background-color: #c09d31;
        color: white;
    }
</style>
{% endblock %}
